<div class="jumbotron">
    <h1>Vista de Productos</h1>
    <br>

    <% if (hayProductos) { %> 

     <%} else { %>
        <h3 class="alert alert-warning">No se encontraron productos</h3>
    <% } %>

</div>


